.grid-stack-item .ui-resizable-se {
    position: absolute;
    right: 8px;
    bottom: 8px;

    width: 26px;
    height: 26px;

    background-color: #f3f4f6;       
    border-radius: 50%;              
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: se-resize;

    background-repeat: no-repeat;   
    background-position: center;
    background-size: 55%;
}

