@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@layer theme {
  :root {
    --hogent-black: #000000;
    --hogent-white: #FFFFFF;
    --hogent-biotechnology-industrial_science-technology: #16B0A5;
    --hogent-healthcare: #F19DA0;
    --hogent-orange: #FABC32;
    --hogent-it: #EF8767;
    --hogent-business: #BB90BD;
    --hogent-education: #4CA2D5;
    --hogent-green: #A5CA72;
    --hogent-sand: #D8B083;
    --hogent-social-work: #C3BBAF;
    --hogent-yellow: #F4DE00;
  }
}

@layer base {
  html, :host {
    @apply font-montserrat h-full w-full;
  }
}
